<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
  <head>
    <title>iSpark | We enlight, you decide</title>
    <link rel="shortcut icon" type="image/x-icon" href="{% static "images/favicon.ico" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    {% block extra_css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/jquery.jrumble.1.3.min.js" %}"></script>
    {% block extra_script %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="footer-div">
        <div class="container footer-container">
          <div class="row footer-main-row hidden-xs">
            <div class="footer-main-block">
              <img src="{% static "images/footer-building.jpg" %}"/>
              <p class="footer-main-block-p footer-main-block-p-1">
                {% for address in addresses %}
                  {{address.value}}
                  {% if forloop.counter != addresses|length %}
                    </br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
            <div class="footer-main-block">
              <img src="{% static "images/footer-env.jpg" %}"/>
              <p class="footer-main-block-p footer-main-block-p-2">
                {% for email in emails %}
                  {{email.value}}
                  {% if forloop.counter != emails|length %}
                    </br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
            <div class="footer-main-block">
              <img src="{% static "images/footer-phone.jpg" %}"/>
              <p class="footer-main-block-p footer-main-block-p-2">
                {% for phone in phones %}
                  {{phone.value}}
                  {% if forloop.counter != phones|length %}
                    </br>
                  {% endif %}
                {% endfor %}
              </p>
            </div>
          </div>
          <div class="footer-social-div">
            <a href="{{ fb.value }}" target="_blank"><img src="{% static "images/footer-facebook.jpg" %}"/></a>
            <a href="{{ in.value }}" target="_blank"><img src="{% static "images/footer-instagram.jpg" %}"/></a>
            <a href="{{ tw.value }}" target="_blank"><img src="{% static "images/footer-snapchat.jpg" %}"/></a>
            <a href="{{ yt.value }}" target="_blank"><img src="{% static "images/footer-youtube.jpg" %}"/></a>
          </div>
          <div class="footer-social-div">
            <p class="footer-main-block-p">ALL RIGHTS RESERVED &copy iSPARK 2016 - DESIGNED & DEVELOPED BY ENLIGHT</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script>
  $(document).ready(function(){
    $('.footer-social-div img').jrumble({
      x: 2,
      y: 2,
      rotation: 1
    });
    $(".footer-social-div img").hover(function(){
      $(this).trigger('startRumble');
    }, function(){
      $(this).trigger('stopRumble');
    });
  })
  </script>

  {% block extra_script_end %}
  {% endblock %}
</html>
