<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300' rel='stylesheet' type='text/css'>
    {% block extra_css %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block extra_script %}
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <footer>
      <div class="footer-div">
        <div class="container footer-container">
          <div class="row footer-main-row hidden-xs">
            <div class="footer-main-block">
              <img src="{% static "images/footer-building.jpg" %}"/>
              <p class="footer-main-block-p footer-main-block-p-1">Villa 56, Street 21</br>Settlement 5</br>Cairo, Egypt</p>
            </div>
            <div class="footer-main-block">
              <img src="{% static "images/footer-env.jpg" %}"/>
              <p class="footer-main-block-p footer-main-block-p-2">info@ispark.com</br>sales@ispark.com</p>
            </div>
            <div class="footer-main-block">
              <img src="{% static "images/footer-phone.jpg" %}"/>
              <p class="footer-main-block-p footer-main-block-p-2">+2 012 345 67890</br>+2 23745662</p>
            </div>
          </div>
          <div class="footer-social-div">
            <a href="#"><img src="{% static "images/footer-facebook.jpg" %}"/></a>
            <a href="#"><img src="{% static "images/footer-instagram.jpg" %}"/></a>
            <a href="#"><img src="{% static "images/footer-twitter.jpg" %}"/></a>
            <a href="#"><img src="{% static "images/footer-youtube.jpg" %}"/></a>
          </div>
          <div class="footer-social-div">
            <p class="footer-main-block-p">ALL RIGHTS RESERVED &copy iSPARK 2016 - DESIGNED & DEVELOPED BY ENLIGHT</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
  {% block extra_script_end %}
  {% endblock %}
</html>
