{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block extra_script %}
  <!-- <script src="{% static "js/jquery.jrumble.1.3.min.js" %}"></script> -->
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block content %}
<nav class="sticky display-inline-block navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <!--<span class="caret"></span>--></a>
            <ul class="dropdown-menu">
              <li><a href="/majors/">Major Exploration</a></li>
              <li><a href="/internships/">Job Shadowing & Internships</a></li>
              <li><a href="/conferences/">Conferences</a></li>
            </ul>
          </li>
          <li><a href="/jobs&majors/">Jobs & Majors</a></li>
          <li><a href="/mentors/">Mentors</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          {% if not user.is_authenticated or user.is_superuser or user.is_staff %}
          <li><a href="/login/">Login</a></li>
          {% else %}
          <li class="logged-in dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="navToProfile()">Welcome, {{ user.first_name }} {{ user.last_name }}</a>
            <ul class="dropdown-menu">
              <li><a href="/logout/">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="clearfix"></div>

<!-- Image header -->
<div class="login-header-img">
    <div>RESET PASSWORD</div>
</div>

<!-- Login form-->
<div class="container login-form-container">
  <div class="row">
    <div class="col-md-12 login-form-div">
        <p class="login-form-title">ENTER YOUR NEW PASSWORD</p>
        <form id="loginform" method="post" class="login-form" action="/password_reset/{{token.token}}">
          {% csrf_token %}
          <div class="login-form-input-div">
              <input type="password" id="password_text" name="password" class="form-control login-form-input" placeholder="Password" />
          </div>
          <div class="login-form-input-border">
              <input type="password" id="password_confirm" name="confirm_password" class="form-control login-form-input" placeholder="Confirm Password" />
          </div>
          <div style="margin-bottom: 30px">
              <input type="submit" value="Submit" class="submit login-form-button">
          </div>
          <div class="clearfix"></div>
        </form>
      <div class="login-forgot-div">
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_script_end %}
<script>

//---------- Profile Navigation ----------//
  function navToProfile() {
    window.location.href = "/profile/";
  }

$(document).ready(function(){
  $('.footer-social-div img').jrumble({
    x: 2,
    y: 2,
    rotation: 1
  });
  $(".footer-social-div img").hover(function(){
    $(this).trigger('startRumble');
    }, function(){
      $(this).trigger('stopRumble');
    });
})

  $("#loginform").validate({
    rules: {
      password: { required: true},
      confirm_password: {
          equalTo: "#password_text"
    }
  }
  });

</script>
{% endblock %}
