{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bselect.min.css" %}">
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/bselect.min.js" %}"></script>
{% endblock %}

{% block content %}
<nav class="sticky display-inline-block navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Program Benefits <!--<span class="caret"></span>--></a>
            <ul class="dropdown-menu">
              <li><a href="/majors/">Majors Exploration</a></li>
              <li class="active"><a href="/internships/">Job Shadowing & Internships</a></li>
              <li><a href="/conferences/">Conferences</a></li>
            </ul>
          </li>
          <li><a href="/jobs&majors/">Jobs & Majors</a></li>
          <li><a href="/mentors/">Mentors</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          {% if not user.is_authenticated or user.is_superuser or user.is_staff %}
          <li><a href="/login/">Login</a></li>
          {% else %}
          <li class="logged-in dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="navToProfile()">Welcome, {{ user.first_name }}</a>
            <ul class="dropdown-menu">
              <li><a href="/logout/">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="clearfix"></div>

<!-- Image header -->
<div class="shadowing-banner">
  <div class="title">
    JOB <span>SHADOWING & INTERNSHIP</span>
  </div>
</div>

<!-- Body-->
<!-- Text -->
<div class="container jobs-outer">
  <div class="row partners job conf-text-div">
    <div class="col-md-12">
      <p class="conf-main-text">AVAILABLE JOBS & INTERNSHIPS</p>
      <p class="conf-sub-text">Check out below</p>
    </div>

    <!-- Dropdown menu -->
    <div class="col-md-12 select-container">
      <select>
        {% for category in categories %}
        <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Main content -->
    <div id="main-content" class="col-md-12">
      {% for internship in internships %}
      <a href="/internship/{{internship.id}}">
        <div class="col-md-3 col-sm-6 col-xs-12 job-main-content">
          <p class="job-outer-title">{{internship.job_title}}</p>
          <p class="job-outer-sub">{{internship.employer}} - {{internship.location}}</p>
          <p class="job-outer-text">{{internship.start_date}}</p>
        </div>
      </a>
      {% endfor %}
      {% if not internships %}
      <!-- EMPTY_NO_ITEMS -->
      <div>
        <h3>There are no internships in this major at the moment.</h3>
      </div>
      {% endif %}
    </div>


    <!-- Load more -->
    <div class="col-md-12 job-load-more-div">
      {% if has_next %}
      <button onclick="loadMore()" class="job-load-more-button">Load More</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script_end %}
<script>

//---------- Profile Navigation ----------//
  function navToProfile() {
    window.location.href = "/profile/";
  }

var page = 1;
var intern_id;
function getInternships(intern_id) {
  page = 1;
    $.ajax({
        type: "GET",
        url: "/internships/?q=" + intern_id + "&p=1",
        success: function (results) {
          // console.log(results.data);
          var data = results;
          // var next = results.has_next;
          $("#main-content").html("");
          for (var i=0; i<data.length; i++) {
            $("#main-content").append('<a href="/internship/'+data[i].pk+'"><div class="col-md-3 col-sm-6 col-xs-12 job-main-content"><p class="job-outer-title">'+data[i].fields.job_title+'</p><p class="job-outer-sub">'+data[i].fields.employer+' - '+data[i].fields.location+'</p><p class="job-outer-text">'+data[i].fields.start_date+'</p></div></a>');
          }
          if (data.length == 0) {
            // EMPTY_NO_ITEMS
            $("#main-content").append('<div><h3>There are no internships in this major at the moment.</h3></div>');
          }
        },
        error: function(err) {
          console.log(err);
        }
    });
}
function loadMore() {
  page++;
  $.ajax({
      type: "GET",
      url: "/internships/?q=" + intern_id + "&p=" + page,
      success: function (results) {
        console.log(results);
        var data = results;
        // var next = results.has_next;
        $("#main-content").html("");
        for (var i=0; i<data.length; i++) {
          $("#main-content").append('<a href="/internship/'+data[i].pk+'"><div class="col-md-3 col-sm-6 col-xs-12 job-main-content"><p class="job-outer-title">'+data[i].fields.job_title+'</p><p class="job-outer-sub">'+data[i].fields.employer+' - '+data[i].fields.location+'</p><p class="job-outer-text">'+data[i].fields.start_date+'</p></div></a>');
        }
      },
      error: function(err) {
        console.log(err);
      }
  });
}
$(document).ready(function(){
  $(".select-container select").bselect({ searchInput : false });
  intern_id = $( ".select-container select option:selected" ).val();
  $(".select-container select").change(function() {
    intern_id = $( ".select-container select option:selected" ).val();
    getInternships(intern_id);
  });
});
</script>
{% endblock %}
