{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bselect.min.css" %}">
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/bselect.min.js" %}"></script>
{% endblock %}

{% block content %}
<nav class="sticky display-inline-block navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Program Benefits <!--<span class="caret"></span>--></a>
            <ul class="dropdown-menu">
              <li><a href="/majors/">Majors Exploration</a></li>
              <li class="active"><a href="/internships/">Job Shadowing & Internships</a></li>
              <li><a href="/conferences/">Conferences</a></li>
            </ul>
          </li>
          <li><a href="/jobs&majors/">Jobs & Majors</a></li>
          <li><a href="/mentors/">Mentors</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/contact/">Contact Us</a></li>
          {% if not user.is_authenticated or user.is_superuser or user.is_staff %}
          <li><a href="/login/">Login</a></li>
          {% else %}
          <li class="logged-in dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="navToProfile()">Welcome, {{ user.first_name }}</a>
            <ul class="dropdown-menu">
              <li><a href="/logout/">Logout</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="clearfix"></div>

<!-- Image header -->
<div class="shadowing-banner">
  <div class="title">
    JOB <span>SHADOWING & INTERNSHIP</span>
  </div>
</div>

<!-- Body-->
<!-- Text -->
<div class="container jobs-outer">
  <div class="row partners job conf-text-div">
    <div class="col-md-12">
      <p class="conf-main-text">JOB DETAILS</p>
      <p class="conf-sub-text">Requirements</p>
    </div>

    <!-- First block content -->
    <div class="col-md-12 job-title-border">
      <div class="col-md-6 job-float-left">
        <p class="job-title-text-main">{{internship.job_title}}</p>
        <p class="job-title-text-sub">{% if internship.type == 'I' %}Internship{% else %}'Job Shadowing'{% endif %}</p>
      </div>
      <div class="col-md-6 job-logo">
        <img src="{{internship.logo.url}}">
      </div>
      <div class="clearfix"></div>
      <div class="col-md-6 job-float-left job-company">
        <p class="job-company-text">{{internship.employer}}<span>- {{internship.location}}</span></p>
      </div>
      <div class="col-md-6 job-logo job-company">
        <p class="job-desc-text">{{internship.industry.name}} </p>
      </div>
      <div class="clearfix"></div>
      <hr class="job-hr">
      <div class="clearfix"></div>
      <div class="col-md-6 job-float-left">
        {% if applied %}
        <button class="job-button" disabled>Applied</button>
        {% else %}
        <button class="job-button" onclick="apply({{internship.id}})">Apply Now</button>
        {% endif %}
        <p class="job-button-text">Starts {{internship.start_date}}</p>
      </div>
      <div class="col-md-6 job-logo">
        <p class="job-button-text">Posted {{internship.posted_date}}</p>
      </div>
    </div>
    <div class="col-md-12 job-title-border job-main-margin job-float-left {% if not related.1 %}job-more-div-margin{% endif %}">
      <p class="job-title-text-main job-qualify-margin">INTERNSHIP REQUIRMENTS:</p>
      {% for requirement in requirements %}
      <p class="job-qualify-text">- {{requirement.text}}</p>
      {% endfor %}
    </div>
    {% if related.1 %}
    <div class="col-md-12 job-title-border job-main-margin job-float-left job-more-div-margin">
      <p class="job-title-text-main job-qualify-margin">SIMILAR INTERNSHIPS:</p>
      <div id="main-content" class="col-md-12">
      {% for item in related %}
      {% if item.id != internship.id %}
      <a href="/internship/{{item.id}}">
        <div class="col-md-3 col-sm-6 col-xs-12 job-main-content">
          <p class="job-outer-title">{{item.job_title}}</p>
          <p class="job-outer-sub">{{item.employer}} - {{item.location}}</p>
          <p class="job-outer-text">{{item.start_date}}</p>
        </div>
      </a>
      {% endif %}
      {% endfor %}
    </div>

    <!-- Load more -->
    <div class="col-md-12 job-load-more-div job-load-more-div-inner">
      <button class="job-load-more-button" onclick="window.location='/internships'">Load More</button>
    </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_script_end %}
<script>

//---------- Profile Navigation ----------//
  function navToProfile() {
    window.location.href = "/profile/";
  }

function apply(internship_id) {
    $.ajax({
        type: "GET",
        url: "/internship/"+internship_id+"/apply",
        success: function (results) {
          console.log('true');
          $('.job-button').html('Applied');
          $('.job-button').prop('disabled', false);
          $('.job-button').prop('onclick',null).off('click');
        },
        error: function(err) {
          console.log(err);
        }
    });
}

</script>
{% endblock %}
