{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/flexslider.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/bselect.min.css" %}">
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/jquery.flexslider-min.js" %}"></script>
  <script src="{% static "js/bselect.min.js" %}"></script>
  <script src="{% static "js/jquery.animateNumber.min.js" %}"></script>
  <script src="{% static "js/jquery.visible.min.js" %}"></script>
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script src="{% static "js/jquery.gmap.min.js" %}"></script>
{% endblock %}

{% block content %}
<!-- Sticky navigation bar -->
  <div class="container">
    <!--Headers -->
    <div class="row">
      <!-- Sticky Header -->
      <nav class="sticky navbar navbar-default">
        <div class="container">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <!--<span class="caret"></span>--></a>
                  <ul class="dropdown-menu">
                    <li><a href="/majors/">Majors Exploration</a></li>
                    <li><a href="/internships/">Job Shadowing & Internships</a></li>
                    <li><a href="/conferences/">Conferences</a></li>
                  </ul>
                </li>
                <li><a href="/jobs&majors/">Jobs & Majors</a></li>
                <li><a href="/mentors/">Mentors</a></li>
                <li><a href="/team/">Team</a></li>
                <li class="active"><a href="/contact/">Contact Us</a></li>
                {% if not user.is_authenticated or user.is_superuser or user.is_staff %}
                <li><a href="/login/">Login</a></li>
                {% else %}
                <li class="logged-in dropdown">
                  <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="navToProfile()">Welcome, {{ user.first_name }} {{ user.last_name }}</a>
                  <ul class="dropdown-menu">
                    <li><a href="/logout/">Logout</a></li>
                  </ul>
                </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <!-- Banner image and title -->
  <div class="contact-banner">
      <div class="title"><span>Contact</span> Us</div>
  </div>

  <!-- Contact information -->
  <div class="container contact-info contact-row">
    <div class="row">
      <div class="title col-xs-12">
        Contact Information
      </div>
      <div class="sub-title col-xs-12">
        <a href="#">Check our channels</a>
      </div>
    </div>
    <div class="row">
      <div class="contact-item">
        <img src="{% static "images/office.png" %}"/>
        <div>
          <p class="footer-main-block-p-1">
            {% for address in addresses %}
              {{address.value}}
              {% if forloop.counter != addresses|length %}
                </br>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <div class="contact-item">
        <img src="{% static "images/email2.png" %}"/>
        <div>
          <p class="footer-main-block-p-2">
            {% for email in emails %}
              {{email.value}}
              {% if forloop.counter != emails|length %}
                </br>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
      <div class="contact-item">
        <img src="{% static "images/phone2.png" %}"/>
        <div>
          <p class="footer-main-block-p-2">
            {% for phone in phones %}
              {{phone.value}}
              {% if forloop.counter != phones|length %}
                </br>
              {% endif %}
            {% endfor %}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Contact form -->
  <div class="message grey-bg contact-row">
    <div class="title col-xs-12">
      Write Us a Message
    </div>
    <div class="sub-title col-xs-12">
      <a href="#">Drop us an email</a>
    </div>
    <form id="contact-form" class="col-xs-12 col-md-8 col-md-offset-2" method="post" action="/contact/">
      {% csrf_token %}
      <div class="form-group col-xs-12 col-md-4">
        <input class="full-width" name="name" placeholder="Name" />
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <input class="full-width" name="email" placeholder="Email" />
      </div>
      <div class="form-group col-xs-12 col-md-4">
        <input class="full-width" name="number" placeholder="Number" />
      </div>
      <div class="form-group col-xs-12">
        <textarea class="full-width" name="message" placeholder="Type your message here"></textarea>
      </div>
      <div class="form-group col-xs-12 col-md-4 pull-right">
        <input class="full-width submit-btn" type="submit" value="Send Message" />
      </div>
    </form>
    <div class="clear"></div>
  </div>

  <!-- Contact numbers -->
  <div class="contact-row">
    <div class="title col-xs-12">
      Contact numbers
    </div>
    <div class="sub-title col-xs-12">
      <a href="#">For different entities</a>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2 contact-numbers">
      <div class="col-xs-12">
        <div><img src="{% static "images/family.png" %}" /></div>
        <div><strong>STUDENTS/PARENTS:  </strong></div>
        <div>
          {% for phone in phones_students %}
          {{ phone.value }}
          {% if forloop.counter != phones_students|length %}
          ,
          {% endif%}
          {% endfor %}
          </div>
      </div>
      <div class="col-xs-12">
        <div><img src="{% static "images/bus.png" %}" /></div>
        <div><strong>SCHOOLS:  </strong></div>
        <div>
          {% for phone in phones_schools %}
          {{ phone.value }}
          {% if forloop.counter != phones_schools|length %}
          ,
          {% endif%}
          {% endfor %}
          </div>
      </div>
      <div class="col-xs-12">
        <div><img src="{% static "images/university.png" %}" /></div>
        <div><strong>UNIVERSITIES:  </strong></div>
        <div>
          {% for phone in phones_universities %}
          {{ phone.value }}
          {% if forloop.counter != phones_universities|length %}
          ,
          {% endif%}
          {% endfor %}
          </div>
      </div>
      <div class="col-xs-12">
        <div><img src="{% static "images/company.png" %}" /></div>
        <div><strong>COMPANIES:  </strong></div>
        <div>
          {% for phone in phones_companies %}
          {{ phone.value }}
          {% if forloop.counter != phones_companies|length %}
          ,
          {% endif%}
          {% endfor %}
          </div>
      </div>
      <div class="col-xs-12"><hr></div>
    </div>
    <div class="clear"></div>
  </div>

  <!-- Map -->
  <div class="contact-row no-padding">
    <div class="title col-xs-12">
      Visit our head office
    </div>
    <div id="map"></div>
  </div>
{% endblock %}

{% block extra_script_end %}
  <script>

  //---------- Profile Navigation ----------//
    function navToProfile() {
      window.location.href = "/profile/";
    }

    var options = {
      controls: {
             panControl: true,
             zoomControl: true,
             mapTypeControl: true,
             scaleControl: true,
             streetViewControl: true,
             overviewMapControl: true
         },
      scrollwheel: false,
      maptype: 'ROADMAP',
      markers: [
          {
              latitude: {{latitude.value}},
              longitude: {{longitude.value}},
          }
      ],
      latitude: {{latitude.value}},
      longitude: {{longitude.value}},
      zoom: 15
    }
    $('#map').gMap(options);

    $("#contact-form").validate({
      rules: {
        name: "required",
        email: { required: true, email: true },
        number: "required",
        message: "required"
      }
     });
  </script>
{% endblock %}
