{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/font-awesome.min.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/flexslider.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/bselect.min.css" %}">
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/jquery-ui.min.js" %}"></script>
  <script src="{% static "js/jquery.flexslider-min.js" %}"></script>
  <script src="{% static "js/bselect.min.js" %}"></script>
  <script src="{% static "js/jquery.animateNumber.min.js" %}"></script>
  <script src="{% static "js/jquery.visible.min.js" %}"></script>
  <!-- <script src="{% static "js/jquery.jrumble.1.3.min.js" %}"></script> -->
{% endblock %}

{% block content %}
<div class="container">
      <!--Headers -->
      <div class="row">
        <!-- Sticky Header -->
        <nav class="sticky navbar navbar-default">
          <div class="container">
            <div class="container-fluid">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}" /></a>
              </div>
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <!--<span class="caret"></span>--></a>
                    <ul class="dropdown-menu">
                      <li><a href="/majors/">Majors Exploration</a></li>
                      <li><a href="/internships/">Job Shadowing & Internships</a></li>
                      <li><a href="/conferences/">Conferences</a></li>
                    </ul>
                  </li>
                  <li class="active"><a href="/jobs&majors/">Jobs & Majors</a></li>
                  <li><a href="/mentors/">Mentors</a></li>
                  <li><a href="/team/">Team</a></li>
                  <li><a href="/contact/">Contact Us</a></li>
                  {% if not user.is_authenticated or user.is_superuser or user.is_staff %}
                  <li><a href="/login/">Login</a></li>
                  {% else %}
                  <li class="logged-in dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" onclick="navToProfile()">Welcome, {{ user.first_name }} {{ user.last_name }}</a>
                    <ul class="dropdown-menu">
                      <li><a href="/logout/">Logout</a></li>
                    </ul>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="jobs-outer-banner">
        <div class="title"><span>Jobs</span></div>
    </div>

  <div class="main-content">
    <div class="container jobs-outer">
      <div class="row profile-row">
        <div class="col-xs-12 title">
          Choose your preferred career <span>category</span>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-8 jobs-list">
          {% for item in categories %}
          <div class="job-item">
            <input class="hidden" name="category" value="{{item.id}}">
            <input class="hidden" name="name" value="{{item.name}}">
            <div>{{item.name}}</div>
            <div><img src="{{item.photo.url}}" /></div>
          </div>
          {% endfor %}
        </div>
        <div class="col-xs-6 col-md-4 job-details sticky-sidebar">
          <div>
            <div>Choose your preferred <span>JOB</span>:</div>
            <div id="title_category">{{categories.0.name}}</div>
            <div>
              <div class="job-types">
                {% for job in jobs %}
                <div><span onclick="chooseJob({{job.id}});">{{job.title}}</span></div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_script_end %}
<script>

//---------- Profile Navigation ----------//
  function navToProfile() {
    window.location.href = "/profile/";
  }

    // Jobs inner navigation //
    function chooseJob(id) {
      window.location.href = "/job/"+id+"/";
    }

    function calcSidebarHeight() {
      $('.sticky-sidebar').css("height", $(window).height() - headerHeight - 30);
      $('.sticky-sidebar .job-types').css("height", $('.sticky-sidebar').height() - $('.sticky-sidebar > div > div:nth-child(1)').outerHeight() - $('.sticky-sidebar > div > div:nth-child(2)').outerHeight() - 40);
    }

    // Sidebar item animation //
    function wiggle(elem) {
      $(elem)
        .animate({'left':(-10)+'px'},200)
        .animate({'left':(+20)+'px'},200)
        .animate({'left':(-10)+'px'},200);
    };

    // Job item click event //
    $(".job-item").click(function() {
      var id = $(this).find("input[name^='category']").val();
      var name = $(this).find("input[name^='name']").val();
      $(".job-item").removeClass("active");
      $(this).addClass("active");
      $('#title_category').html(name)
      getJobs(id);
    });

    function getJobs(id) {
      $.ajax({
          type: "GET",
          url: "/jobs/?q=" + id,
          success: function (results) {
            // console.log(results.data);
            var data = results;
            $(".job-types").html("");
            for (var i=0; i<data.length; i++) {
              $(".job-types").append('<div><span onclick="chooseJob('+data[i].pk+');">'+data[i].fields.title+'</span></div>');
            }
          },
          error: function(err) {
            console.log(err);
          }
      });
    }

    var headerHeight = $(".sticky").height(),
      footerHeight = $("footer").height();

    calcSidebarHeight();

    var stickySidebar = $('.sticky-sidebar');
    if (stickySidebar.length > 0) {
      var stickyHeight = stickySidebar.height(),
          sidebarTop = stickySidebar.offset().top;
    }

    // on scroll move the sidebar
    $(window).scroll(function () {
      if (stickySidebar.length > 0) {
        var scrollTop = $(window).scrollTop();

        if (sidebarTop < scrollTop+headerHeight) {
          stickySidebar.css('top', scrollTop - sidebarTop + headerHeight);

          // stop the sticky sidebar at the footer to avoid overlapping
          var sidebarBottom = stickySidebar.offset().top + stickyHeight,
              stickyStop = $('.main-content').offset().top + $('.main-content').height();
          if (stickyStop < sidebarBottom) {
            var stopPosition = $('.main-content').height() - stickyHeight - headerHeight - 30;
            stickySidebar.css('top', stopPosition);
          }
        }
        else {
          stickySidebar.css('top', '0');
        }
      }
    });

    $(window).resize(function () {
      if (stickySidebar.length > 0) {
        stickyHeight = stickySidebar.height();
        headerHeight = $(".sticky").height();
        footerHeight = $("footer").height();
        sidebarTop = stickySidebar.offset().top;
        calcSidebarHeight();
      }
    });

    $(document).ready(function(){
      // Wiggle effect when hovering on a sidebar item //
      $('.sticky-sidebar .job-types > div > span').jrumble({
        x: 2,
        y: 2,
        rotation: 1
      });
      $(".sticky-sidebar .job-types > div > span").hover(function(){
        $(this).trigger('startRumble');
        }, function(){
          $(this).trigger('stopRumble');
        });
    })
    </script>
{% endblock %}
