{% extends "base.html" %}

{% load staticfiles %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static "css/bselect.min.css" %}">
{% endblock %}

{% block extra_script %}
  <script src="{% static "js/bselect.min.js" %}"></script>
{% endblock %}

{% block content %}
<nav class="sticky display-inline-block navbar navbar-default">
  <div class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><img src="{% static "images/logo.png" %}" /></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <!--<span class="caret"></span>--></a>
            <ul class="dropdown-menu">
              <li><a href="/majors">Major Exploration</a></li>
              <li><a href="/internships">Job Shadowing & Internships</a></li>
              <li><a href="/conferences">Conferences</a></li>
            </ul>
          </li>
          <li><a href="/jobs&majors">Jobs & Majors</a></li>
          <li><a href="/mentors">Mentors</a></li>
          <li class="active"><a href="/team">Team</a></li>
          <li><a href="/contact">Contact Us</a></li>
          {% if user.is_authenticated %}
          <li class="logged-in"><a href="/profile">Welcome, {{ user.first_name }} {{ user.last_name }}</a></li>
          {% else %}
          <li><a href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="clearfix"></div>

<!-- Image header -->
<div class="login-header-img login-header-img-sm">
    <div><span class="major-title-span">MEET THE</span>TEAM</div>
</div>

<!-- Body-->
<div class="container">
  <div class="row conf-text-div">

    <!-- Core team text -->
    <div class="col-md-12">
      <p class="conf-main-text">CORE TEAM</p>
    </div>

    <!-- Core team profile -->
    <div class="col-md-12 col-xs-12 team-main-div">
      {% for core in cores %}
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-person-img-border">
          <img class="team-person-img" src="{{core.photo.url}}">
          <div class="team-img-overlay" onclick="openModal(this)">
            <div>
              <img class="" src="{% static "images/team-zoom-icon.png" %}">
            </div>
          </div>
        </div>
        <div class="team-name-div"><p class="team-name">{{core.name}}</p></div>
        <div class="team-name-div"><p class="team-position">- {{core.position}} -</p></div>
        <div class="team-quote-table">
          <img src="{% static "images/team-quotation-one.png" %}">
          <div class="team-quote-table-cell"><p class="team-quote-text">{{core.quote}}</p></div>
          <img class="team-quote" src="{% static "images/team-quotation-two.png" %}">
        </div>
        <div class="team-name-div">
          <img src="{% static "images/team-mail-icon.png" %}">
          <div class="team-name-div"><p class="team-email">{{core.email}}</p></div>
        </div>
        <a href="#">
          <div class="team-name-div">
            <img src="{% static "images/team-file-icon.png" %}">
            <div class="team-name-div"><p class="team-download">Download Profile</p></div>
          </div>
        </a>
        <hr class="team-line-yellow">
      </div>
      {% endfor %}
      {% for job_vacancy in job_vacancies %}
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-person-img-border">
          <img class="team-person-img" src="{% static "images/team-avatar.png" %}">
          <div class="team-img-overlay" onclick="openDownloadModal({{job_vacancy.id}})">
            <div>
              <img class="" src="{% static "images/team-apply.png" %}">
            </div>
          </div>
        </div>
        <div class="team-name-div"><p class="team-name">APPLY NOW</p></div>
        <div class="team-name-div"><p class="team-position">- {{job_vacancy.position}} -</p></div>
        <div class="team-quote-table">
          <img src="{% static "images/team-quotation-one.png" %}">
          <div class="team-quote-table-cell"><p class="team-quote-text">{{job_vacancy.description}}</p></div>
          <img class="team-quote" src="{% static "images/team-quotation-two.png" %}">
        </div>
        <div class="team-name-div">
          <img src="{% static "images/team-mail-icon.png" %}">
          <div class="team-name-div"><p class="team-email">{{job_vacancy.contact_email}}</p></div>
        </div>
        <a href="#">
          <div class="team-name-div">
            <img src="{% static "images/team-file-icon.png" %}">
            <div class="team-name-div"><p class="team-download">Apply Now</p></div>
          </div>
        </a>
        <hr class="team-line-yellow">
      </div>
      {% endfor %}
    </div>

    <div class="clear"></div>

    <!-- Interns text -->
    <div class="col-md-12">
      <p class="conf-main-text">ITERNS</p>
    </div>

    <!-- Interns profile -->
    <div class="col-md-12 col-xs-12 team-main-div">
      {% for intern in interns %}
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-person-img-border">
          <img class="team-person-img" src="{{intern.photo.url}}">
          <div class="team-img-overlay" onclick="openModal(this)">
            <div>
              <img class="" src="{% static "images/team-zoom-icon.png" %}">
            </div>
          </div>
        </div>
        <div class="team-name-div"><p class="team-name">{{intern.name}}</p></div>
        <div class="team-name-div"><p class="team-position">- {{intern.position}} -</p></div>
        <div class="team-quote-table">
          <img src="{% static "images/team-quotation-one.png" %}">
          <div class="team-quote-table-cell"><p class="team-quote-text">{{intern.quote}}</p></div>
          <img class="team-quote" src="{% static "images/team-quotation-two.png" %}">
        </div>
        <div class="team-name-div">
          <img src="{% static "images/team-mail-icon.png" %}">
          <div class="team-name-div"><p class="team-email">{{intern.email}}</p></div>
        </div>
        <a href="#">
          <div class="team-name-div">
            <img src="{% static "images/team-file-icon.png" %}">
            <div class="team-name-div"><p class="team-download">Download Profile</p></div>
          </div>
        </a>
        <hr class="team-line-yellow">
      </div>
      {% endfor %}
      {% for internship_vacancy in internship_vacancies %}
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="team-person-img-border">
          <img class="team-person-img" src="{% static "images/team-avatar.png" %}">
          <div class="team-img-overlay" onclick="openDownloadModal({{internship_vacancy.id}})">
            <div>
              <img class="" src="{% static "images/team-apply.png" %}">
            </div>
          </div>
        </div>
        <div class="team-name-div"><p class="team-name">APPLY NOW</p></div>
        <div class="team-name-div"><p class="team-position">- {{internship_vacancy.position}} -</p></div>
        <div class="team-quote-table">
          <img src="{% static "images/team-quotation-one.png" %}">
          <div class="team-quote-table-cell"><p class="team-quote-text">{{internship_vacancy.description}}</p></div>
          <img class="team-quote" src="{% static "images/team-quotation-two.png" %}">
        </div>
        <div class="team-name-div">
          <img src="{% static "images/team-mail-icon.png" %}">
          <div class="team-name-div"><p class="team-email">{{internship_vacancy.contact_email}}</p></div>
        </div>
        <a href="#">
          <div class="team-name-div">
            <img src="{% static "images/team-file-icon.png" %}">
            <div class="team-name-div"><p class="team-download">Apply Now</p></div>
          </div>
        </a>
        <hr class="team-line-yellow">
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- for loop on vacancies -->
{% for job_vacancy in job_vacancies %}
<!-- modal -->
<div id="myModal{{job_vacancy.id}}" class="modal fade form-background modal1" role="dialog">
  <div class="modal-dialog modal1">
    <div>
    <div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img class="popup-form-close" src="{% static "images/form-close.png" %}" />
      </button>
    </div>
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-md-12 form-logo">
          <img src="{% static "images/logo.png" %}" /></a>
        </div>

        <!-- Hidden field for ID -->
        <div class="col-md-12 hidden">
          <p id="event-id"></p>
        </div>

        <!-- Title -->
        <div class="col-md-12 form-title">
          <p class="major-title-2">CAREER DISCOVERY PROGRAM 2.0</p>
          <p>YOU'RE ONE STEP AWAY FROM AN AWESOME EXPERIENCE !!</p>
        </div>

        <!-- Form -->
        <div class="col-md-12">
          <form id="major-exploration-form" method="post" class="popup-form partners" action="/vacancy/{{job_vacancy.id}}/apply">
            <div class="col-md-4">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name" />
            </div>
            <div class="col-md-4">
                <input type="text" id="email-pop" name="email" class="form-control" placeholder="Email" />
            </div>
            <div class="col-md-4">
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" />
            </div>
            <div class="clearfix"></div>
            <div class="popup-form-input-div">
                <div class="col-md-4">
                    <input type="text" id="school" name="school" class="form-control" placeholder="School Name" />
                </div>
                <div class="col-md-4">
                    <input type="text" id="grade" name="grade" class="form-control" placeholder="Grade Level" />
                </div>
                <div class="col-md-4">
                    <input type="text" id="wave" name="wave" class="form-control" placeholder="Wave" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="popup-form-input-div major-dropdown">
                <div class="col-md-4 select-container popup-form-select">
                  <select name="select1">
                    <option value="1">Choose a major</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
                <div class="col-md-4 select-container popup-form-select">
                  <select name="select2">
                    <option value="1">Choose a major</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
                <div class="col-md-4 select-container popup-form-select">
                  <select name="select3">
                    <option value="1">Choose a major</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
            </div>
            <div class="col-md-12 popup-form-input-div">
                <p class="popup-checkbox-text popup-form-text-1">Have you ever joined any of iSpark events?</p>
                <label>
                  <p class="popup-checkbox-text popup-form-text-2">Yes</p>
                  <input type="radio" value="None" id="check3" name="check3" checked />
                  <label for="check3"></label>
                </label>
                <label>
                  <p class="popup-checkbox-text popup-form-text-2 popup-form-text-3">No</p>
                  <input type="radio" value="None" id="check4" name="check3" />
                  <label for="check4"></label>
                </label>
            </div>
            <div class="col-md-12">
                <input type="text" id="state" name="state" class="form-control" placeholder="if yes, state it" />
            </div>
             <div class="col-md-12 popup-form-input-div">
                <p class="popup-checkbox-text">*Please note that not all applicants will be able to come</p>
            </div>
            <div class="col-md-12 popup-form-dropdown-div">
                <p class="popup-checkbox-text">How did you know about us?</p>
                <div class="popup-form-select select-container">
                  <select name="select4">
                    <option value="1">Previous Event</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
            </div>
            <div class="col-md-12 popup-form-dropdown-div">
                <input type="submit" value="Send" class="popup-form-submit">
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}

{% for internship_vacancy in internship_vacancies %}
<!-- modal -->
<div id="myModal{{internship_vacancy.id}}" class="modal fade form-background modal1" role="dialog">
  <div class="modal-dialog modal1">
    <div>
    <div>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <img class="popup-form-close" src="{% static "images/form-close.png" %}" />
      </button>
    </div>
    <div class="container">
      <div class="row">

        <!-- Logo -->
        <div class="col-md-12 form-logo">
          <img src="{% static "images/logo.png" %}" /></a>
        </div>

        <!-- Hidden field for ID -->
        <div class="col-md-12 hidden">
          <p id="event-id"></p>
        </div>

        <!-- Title -->
        <div class="col-md-12 form-title">
          <p class="major-title-2">CAREER DISCOVERY PROGRAM 2.0</p>
          <p>YOU'RE ONE STEP AWAY FROM AN AWESOME EXPERIENCE !!</p>
        </div>

        <!-- Form -->
        <div class="col-md-12">
          <form id="major-exploration-form" method="post" class="popup-form partners" action="/vacancy/{{internship_vacancy.id}}/apply">
            <div class="col-md-4">
              <input type="text" id="name" name="name" class="form-control" placeholder="Name" />
            </div>
            <div class="col-md-4">
                <input type="text" id="email-pop" name="email" class="form-control" placeholder="Email" />
            </div>
            <div class="col-md-4">
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone" />
            </div>
            <div class="clearfix"></div>
            <div class="popup-form-input-div">
                <div class="col-md-4">
                    <input type="text" id="school" name="school" class="form-control" placeholder="School Name" />
                </div>
                <div class="col-md-4">
                    <input type="text" id="grade" name="grade" class="form-control" placeholder="Grade Level" />
                </div>
                <div class="col-md-4">
                    <input type="text" id="wave" name="wave" class="form-control" placeholder="Wave" />
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="popup-form-input-div major-dropdown">
                <div class="col-md-4 select-container popup-form-select">
                  <select name="select1">
                    <option value="1">Choose a major</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
                <div class="col-md-4 select-container popup-form-select">
                  <select name="select2">
                    <option value="1">Choose a major</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
                <div class="col-md-4 select-container popup-form-select">
                  <select name="select3">
                    <option value="1">Choose a major</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
            </div>
            <div class="col-md-12 popup-form-input-div">
                <p class="popup-checkbox-text popup-form-text-1">Have you ever joined any of iSpark events?</p>
                <label>
                  <p class="popup-checkbox-text popup-form-text-2">Yes</p>
                  <input type="radio" value="None" id="check3" name="check3" checked />
                  <label for="check3"></label>
                </label>
                <label>
                  <p class="popup-checkbox-text popup-form-text-2 popup-form-text-3">No</p>
                  <input type="radio" value="None" id="check4" name="check3" />
                  <label for="check4"></label>
                </label>
            </div>
            <div class="col-md-12">
                <input type="text" id="state" name="state" class="form-control" placeholder="if yes, state it" />
            </div>
             <div class="col-md-12 popup-form-input-div">
                <p class="popup-checkbox-text">*Please note that not all applicants will be able to come</p>
            </div>
            <div class="col-md-12 popup-form-dropdown-div">
                <p class="popup-checkbox-text">How did you know about us?</p>
                <div class="popup-form-select select-container">
                  <select name="select4">
                    <option value="1">Previous Event</option>
                    <option value="2">Another Option</option>
                    <option value="3">Third Option</option>
                  </select>
                </div>
            </div>
            <div class="col-md-12 popup-form-dropdown-div">
                <input type="submit" value="Send" class="popup-form-submit">
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- Image popup -->
<div id="imageModal" class="modal fade modal2" role="dialog">
  <div class="modal-dialog modal-md">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <div>
          <img class="magnified-image modal2" src="" />
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_script_end %}
  <script>
  //---------- Open image popup ----------//
  function openModal(elem){
    var image = $(elem).parent().children("img").attr("src");
    console.log(image);
    $("#imageModal .magnified-image").attr("src", image);
    $('#imageModal').modal();
  }

  function openDownloadModal(id){
    $('#myModal'+id).modal();
  }

  $(document).ready(function(){
    $(".select-container select").bselect({ searchInput : false });
    $(".team-main-div > div").mouseenter(function(){
      $(this).children("hr").css("border-color", "#821638");
      $(this).children(".team-person-img-border").children(".team-img-overlay").slideDown("fast");
    });
    $(".team-main-div > div").mouseleave(function(){
      $(this).children("hr").css("border-color", "#feb041");
      $(this).children(".team-person-img-border").children(".team-img-overlay").slideUp("fast");
    });
  });
  $("button.accordion-button").click(function () {
      var event_id = $(this).attr("id");
      $("#event-id").text(event_id);
  });
  $('.modal').on('hidden.bs.modal', function(){
      $(this).find('form')[0].reset();
  })
  </script>
{% endblock %}
